/*File by Stacey Masson*/

/*TABLET PORTRAIT*/
@media screen and (max-width: 1024px) {
    #pagewrap {
        width:98%;
    }
    
    #content {
		width: 100%;
        min-height:100%;
	}

    #content, #header, #navigation {
        width:100%;
    }

    #content_main {
        margin-bottom:25px;
        width: 95%;
        min-height: 0px;
        border: 0px;
        
    }

    #slider, #box {
        display:none;
    }

    #navigation {
        max-height:35%;
        padding:0px;
    }

    #mnu_1 {
        display:none;
    }

    #mobilemenu {
        display:block;
        float:right;
        margin-right:20px;
        margin-top:10px;
    }

    #img_mobilemenu {
        display:inline-block;
        float:right;
    }

    #mobilemenu ul {
        max-height:200px;
        overflow-y:scroll;
    }

    #mobilemenu ul, #mobilemenu:active ul {
        display:none;
        position:absolute;
        padding:20px;
        background-color:#6aabbf;
        border:3px solid #fff;
        right:0px;
        top:40px;
        width:70%;
        border-radius:4px 0 4px 4px;
        list-style-type:none;
    }

    #mobilemenu li {
        text-align:center;
        width:100%;
        padding:10px 0;
        margin:0;
    }

    #mobilemenu li a {
        text-decoration:none;
        color:white;
    }

    #mobilemenu:hover ul {
        display:block;
    }

    .clear {
        clear:both;
    }

    #aside {
        width:100%;
        text-align:center;
        min-height:100%;
        margin:0 auto;
    }

    #aside1, #cph_head_mnu_1 {
        display:none;
    }

    #aside2, #aside3, #aside4 {
        width:200px;
        min-height:200px;
        display:inline-block;
    }

    #legal {
        padding-top:15px;
    } 

    #footer {
        width:100%;
    }

    .footer {
        min-width:100%;
        display:table;
        table-layout:fixed;
        max-height:100%;
        margin-top:25px;
        /*text-align:justify;*/
    }

    #footer_jobs, #footer_services, #footer_links, #footer_contact {
        display:table-cell;
        vertical-align:top;
        height:150px;
        width:15%;
        margin-right:-10px;
    }

    #footer_copyright, #footer_icons {
        display:inline-block;
        height:35px;
        margin:10px;
        padding-top:2%;
        margin-top:100px;
        vertical-align:bottom;
    }

    #footer_icons {
        float:right;
    }
}



/*MOBILE*/
@media screen and (max-width: 600px) {

    #pagewrap {
		width: 98%;
	}

    #content {
		width: 100%;
        min-height:100%;
	}

    #lbl_quicklnk {
        color:#6aabbf;
        text-align:center;
    }

    #mobilebuttons {
        display:block;
        width:100%;
        margin:35px 0;
        text-align:center;
    }

    #mobilebuttons a {
        padding:15px;
        border:1px solid white;
        display:inline-block;
        width:100%;
        text-decoration:none;
        color:white;
    }

    #mobilebuttons li {
        margin-top:15px;
        width:100%;

    }

    #mobilebuttons li a {
        width:110px;
    }

    .buttons {
        background-color:#6aabbf;
        width:100%;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }

    .clear {
        clear:both;
    }

    #aside, #aside1, #aside2, #aside3, #aside4, #search, #address, #slider, #footer_jobs, #footer_services, #footer_links, #footer_contact, #footer_copyright, #footer_icons, #slider, #box, #logo {
        display:none;
    }

    #navigation {
        height:70px;
    }

    #content, #header {
        width:100%;
    }

    #content_main {
        text-align:center;
        display:block;
        width:95%;
        min-height:0px;
        border:0px;
    }

    #mobilemenu {
        display:block;
        float:right;
    }

    #img_mobilemenu {
        display:inline-block;
        margin:15px 5px 0 0;
        float:right;
    }

    #mobilemenu ul, #mobilemenu:active ul {
        display:none;
        position:absolute;
        padding:20px;
        background-color:#6aabbf;
        border:3px solid #fff;
        right:0px;
        top:40px;
        width:70%;
        border-radius:4px 0 4px 4px;
        list-style-type:none;
    }

    #mobilemenu li {
        text-align:center;
        width:100%;
        padding:10px 0;
        margin:0;
        /*border-bottom:1px solid white;*/
    }

    #mobilemenu li a {
        text-decoration:none;
        color:white;
    }

    #mobilemenu:hover ul {
        display:block;
    }

    .mobileclear {
        clear:both;
    }

    #mobilelogo {
        display:block;
        float:left;
        margin:5px;
    }

    #img_mobilelogo {
        width:70%;
        display:inline-block;
        float:left;
    }

    #footer {
        clear:both;
        display:none;
    }

    #mobilefooter {
        display:inline-block;
        width:100%;
        background-color:#202020;
        padding:10px 0;
    }

    #mobilecopy {
        float:left;
        font-size:x-small;
        color:#727272;
        width:75%;
        margin-left:5px;
        margin-top:5px;
    }

    #mobilesocial {
        float:right;
        margin-right:5px;
        margin-top:2px;
    }
}