* {
    padding:0px;
    margin:0px;
    font-weight:bold;
}

p {
    padding-bottom: 10px;

}

#pagewrap {
    margin: 0 auto;
    width: 1100px;
}
body {
    background-color: white;
     font-family:Arial;
     font-weight: bold;
}
#header {
    height:160px;
    border :0px solid #000;
    font-family: Arial, Tahoma, 'Trebuchet MS';
    width:1100px;
    background-color:#8ed1e4;
}
#logo {
    height:80px;
    border:0px solid #ff6a00;
    width:300px;
    float:left;
    margin:30px 0px 0px 30px;
}

#img_mobilelogo {
    display:none;
}
#address {
    height:50px;
    border:0px solid #ff6a00;
    width:250px;
    float:right;
    margin:30px 30px 0px 30px;
    color:#606465;
    
}

#search {
    text-align:center;
    height:30px;
    border:0px solid #ff6a00;
    width:250px;
    float:right;
    margin:0px 30px 20px 30px;
    background-color:#6aabbf;
    color:#ececec;
}
.clear {
    clear: both;
}

#mobilemenu {
    display:none;
}

#navigation {
    text-align:center;
    height:50px;
    border :0px solid #4cff00;
    width:1100px;
    background-color:#6aabbf;
    float:left;
    padding:10px 0;
    color:#ececec;
}

#navigation a:visited {
    color:white;
}

#navigation a {
    color:white;
}

#smp_main a {
    margin-bottom:50px;
}

#content {
    min-height:800px;
    width:1100px;
    background:#ececec;
    border :0px solid red;
    float:left;
}

#content_main {
    width:730px;
    /*border:1px solid #000;*/
    min-height:740px;
    float:left;
    margin-top:10px;
    margin-left:30px;
    color:#2b2b2b;
}

#smp_main, .admintitle {
    color:#6aabbf;
    font-size:x-large;
}

#mobilebuttons {
    display:none;
}

#slider {
     width:730px;
    border :0px solid #000;
    min-height:200px;
}


#aside {
    width:296px;
    margin-top:10px;
    margin-right:20px;
    border :0px solid #000;
    min-height:800px;
    float:right;
    background-color:white;
    
}
#aside1 {
    min-height:100px;
      width:296px;
     border :0px solid green;  
    float:right;

}
#lbl_text {
    padding-top:50px;   
    font-size:24px;
    color:#606465;
}
#aside2 {
     min-height:233px;
      width:296px;
    border :1px solid green;
    color:#949899;
    text-align:center;
   
  
}
#aside3 {
     min-height:233px;
      width:296px;
    border :1px solid green;
    color:#949899;
    text-align:center;
 
}
#aside4 {
     min-height:233px;
      width:296px;
    border :1px solid green;
    color:#949899;
    text-align:center;
    
}
#box {
    height:1039px;
    width:712px;
    border :1px solid #000;

}
#mobilefooter, #mobilelogo {
    display:none;
}

#footer {
    width:1100px;
    height:300px;
    border:0px solid #ff0000;
    background-color:#202020;
}
#footer_links a, #footer_jobs a, #footer_services a, #footer_contact a {
    color:white;
}

#footer_copyright a {
    color:#454545;
}

#footer_jobs {
    width:180px;
    height:200px;
    border:0px solid green;
    float:left;
    margin-top:30px;
    margin-left:80px;
    color:white;
   
}
#footer_services {
     width:180px;
    height:200px;
    border:dashed solid green;
    float:left;
     margin-top:30px;
    margin-left:70px;
    color:white;
    
}
#footer_links {
     width:180px;
    height:200px;
    border:0px solid green;
    float:left;
     margin-top:30px;
     margin-left:70px;
    margin-right:10px;
    color:white;
}
#footer_contact {
     width:180px;
    height:200px;
    border:0px solid green;
    float:left;
     margin-top:30px;
     margin-left:70px;
    margin-right:10px;
    color:white;
}

#footer_copyright {
     width:700px;
     height:20px;
     border:0px solid green;
     text-align:center;
     padding-top:35px;
     margin-left:40px;
     color:#454545;
     float:left;
}
#footer_icons {
     border:0px solid green;
     width:100px;
     min-height:20px;     
     float:right;
     margin-top:40px;
     margin-right:40px;
}

/*-------------------Find a Doctor / Events / Directory----------------------*/

.lblpage {
    margin-left:10px;    
    margin-top:45px;
}

.acc {
    width:75%;
    margin:0 auto;
}

.docacchead {
    background-color:#8ed1e4;
    padding:10px;
    margin:10px;
    text-align:center;
    color:#202020;
}

.docacchead a {
    width:100%;
    text-decoration:none;
    color:#202020;
    display:block;
}

.docacccon img {
    float:left;
    margin-right:20px;
    max-width:200px;
}

#lbl_name {
    font-size:large;
    margin-top:20px;
}

.info {
    margin-top:15px;
    width:85%;
    margin-bottom:20px;
}

.dir {
    text-align:center;
    margin-bottom:20px;
    margin-top:15px;
}

.event {
    margin:20px 0 15px 40px;
    width:75%;
}

.sidebarlinks {
    margin-left:20px;
}

.sidebarlbl {
    padding-top:25px;
    margin-left:20px;
}

.adminbuttons {
    margin-left:30px;
}

.tables {
    margin-left:20px;
}

.adminlink {
    float:right;
    text-decoration:none;
    border:2px solid #6aabbf;
    color:#fff;
    padding:5px 5px 0 5px;
    background-color:#8ed1e4;
}