<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections>  --><!--this section defines a new section name, sanitizer, which will help protect against xss and other problems--><!--
    <sectionGroup name="system.web">  --><!--this part says it's a part of system.web--><!--
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit" />  --><!--sanitizer is for use by the ajaxtoolkit--><!--
    </sectionGroup>
  </configSections>-->
  
  <connectionStrings>
    <add name="lennoxConnectionString" connectionString="Data Source=lennox.db.8184438.hostedresource.com;Initial Catalog=lennox;Persist Security Info=True;User ID=lennox;Password=Lennox@2014"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    
    <!--<sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">  --><!--don't worry about the blue underline.  still works.  sanitizer is called html agility.  it is already in the bin folder--><!--
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider"></add>
      </providers>
    </sanitizer>-->
    
    <authentication mode="Forms" />
    <membership defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="lennoxConnectionString" applicationName="/lennoxaddington" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="lennoxConnectionString" applicationName="/lennoxaddington" />
      </providers>
    </roleManager>
    
    
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <pages>
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    
  </system.web>
</configuration>